/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET END */

/* GENERAL SITE CSS START */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight:900;
}

a {
    text-decoration:none;
}

p {
    line-height: 1.4;
}
/* GENERAL SITE CSS END */

/* HEADER AREA START */
header {
    margin-top:3%;
    margin-bottom:3%;
    display:flex;
    justify-content:space-around;
}
.lambdaLogo {
    margin-left:17%;
}
.topButtons {
    width:70%;
    display:flex;
    align-content:center;
    align-items:flex-end;
    justify-content:space-between;
    margin-left:3%;
    margin-right:19%;
}
.topButtons a {
    color:black;
}
/* HEADER AREA END */

.container {
    width: 800px;
    margin: 0 auto;
}

/* ABOUT PAGE CSS START */
.aboutAbout {
    border-bottom:2px dotted black;
    margin: 2% 2% 5% 2%;
    padding-bottom:20px;
}
.learnMore {
    border:2px solid black;
    border-radius:10px;
    text-align:center;
    width:130px;
    padding:10px;
    margin:5% 0% 5% 0%;
}
.learnMore:hover {
    background-color:black;
    color:white;
}
.strategyWork {
    display:flex;
    margin-bottom:5%;
}
.aboutStrategy {
    border-bottom:2px dotted black;
    width:70%;
    margin-right:3%;
}
.aboutWork {
    border-bottom:2px dotted black;
    width:70%;
}
.placesCollab {
    display:flex;
    margin-bottom:5%;
}
.aboutOffice {
    border-bottom:2px dotted black;
    width:70%;
    margin-right:3%;
}
.aboutCollab {
    border-bottom:2px dotted black;
    width:70%;
}
.workTogether {
    margin-bottom:5%;
}
/* ABOUT PAGE CSS END */
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-top:3%;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

/* HERE THERE BE BOXES */
.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box1 {
    background-color:teal;
    width:12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1:hover {
    background-color:orange;
}
.box2 {
    background-color:gold;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2:hover {
    background-color:navy;
}
.box3 {
    background-color:cadetblue;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3:hover {
    background-color:chartreuse;
    color:black;
}
.box4 {
    background-color:coral;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4:hover {
    background-color:cornflowerblue;
}
.box5 {
    background-color:crimson;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box5:hover {
    background-color:darkslateblue;
}
.box6 {
    background-color:forestgreen;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box6:hover {
    background-color:wheat;
    color:black;
}
.box7 {
    background-color:darkorchid;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box7:hover {
    background-color:#bcd2f6;
    color:black;
}
.box8 {
    background-color:hotpink;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box8:hover {
    background-color:#1bc301;
}
.box9 {
    background-color:indigo;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box9:hover {
    background-color:#cb5c11;
}
.box10 {
    background-color:dodgerblue;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box10:hover {
    background-color:#a910b4;
}
/* ARRRR NO MORE BOXES MATEY */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}